
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.navbar-laravel {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,0.04);  
}

.counters {
	margin-right: 30px;
	font-size: 10px;
	text-align: center; 
	display: inline-block;


	strong {
		display: block;
		font-size: 2em;
	}

	.vote, .answer { 
		width: 60px;
		height: 60px;
	}

	.status {
		&.unanswered {
			border: none;
		}

		&.answered {
			border: 1px solid $color-green;
			color: $color-green;
		}

		&.answered-accepted {
			color: $color-white;
			background-color: $color-green;
		}
	}

	.views {
	margin-top: 10px;	
	}
}
form.form-delete {
	display: inline;
}